<div class="jumbotron">
    <h2>Current Temperature:</h2>
    <h1>{{ctrl.TemperatureNow | number:2}} &deg;<span style="font-size:20px">F</span></h1>
    <h3>Last hour (5 minute intervals)</h3>
    <iframe src="https://ghbtns.com/github-btn.html?user=jeremymorgan&repo=Raspberry_Pi_Weather_Station&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
   <canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas> 
</div>
https://github.com/JeremyMorgan/Raspberry_Pi_Weather_Station

<div class="row clearfix" style="text-align: center">
    <div class="col-md-4">
     <h2>Temp Sensor 1</h2>
     <div id="chart_div1"></div>
    </div>
    <div class="col-md-4">
    <h2>Temp Sensor 2</h2>
      <div id="chart_div2"></div>
    </div>
    <div class="col-md-4">
    <h2>Temp Sensor 3</h2>
      <div id="chart_div3"></div>
    </div>
</div>


<div class="row clearfix" style="text-align: center">
    <div class="col-md-4">
        <h2>Humidity</h2>
        <h1>{{ctrl.Humidity}}<span style="font-size:20px">%</span></h1>
    </div>
    <div class="col-md-4">
        <h2>Barometric Pressure</h2>
        <h1>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-show="ctrl.PressureUP"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-hide="ctrl.PressureUP"></span>
          {{ctrl.Pressure}}<span style="font-size:20px"> Pa</span></h1>
    </div>
    <div class="col-md-4">
        <h2>Illuminance</h2>
        <h1>{{ctrl.Lux}} Lux</h1>
    </div>
</div>